@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');
$font-main:'Noto Sans TC', sans-serif;

$color-white: #fff;
$color-lightWhite: #EFEFEF;
$color-black: #000;
$color-themeGray: #C5BAAE;
$color-lightGray: #999;
$color-themeBlue: #7AABAD;

$font-l-s : 14px;
$font-l-base : 16px;
$font-l-xm: 1.6rem;
$font-l-l: 6rem;
